<template>
  <q-page class="flex justify-top align-center ">
    <container class="slaider">
      <div class="q-px-xl" style="font-size: 35px; font-family: 'Avenir'; color: black; height: 50px;">
      Категории
    </div>
      <hooper :settings="hooperSettings" >
        <slide class="dvor" to="cat">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Дворы</router-link>
        </slide>
        <slide class="zabr">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Заброшенные </router-link>
        </slide>
        <slide class="graf">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Граффити</router-link>
        </slide>
        <slide class="inst">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Инсталляции</router-link>
        </slide>
        <slide class="arch">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Архитектура</router-link>
        </slide>
        <slide class="roof">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Крыши</router-link>
        </slide>
        <slide class="temp">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Временные</router-link>
        </slide>
        <slide class="beach">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Пляжи</router-link>
        </slide>
        <slide class="zavod">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Заводы</router-link>
        </slide>
      </hooper>
    </container>
    <div class="row q-col-gutter-lg q-px-xl">
      <div class="col-12" style="font-size: 35px; font-family: 'Avenir'; color: black; height: 50px; margin-bottom: 20px">
      Места
    </div>
      <template v-for="i in 9">
        <div :key ="i" class="place col-4">
          <router-link to='place' style="text-decoration: none; color: white; font-size: 24px; font-family: 'Avenir';">
            <div :class="'place' + i"
              style="
                background-size: cover;
                background-position: center;
                height: 250px;
                cursor: pointer;
                display: flex;
                align-items: flex-end;
                padding: 30px;
                ">
              Красивое место № {{i}}
            </div>
          </router-link>
        </div>
      </template>
    </div>
  </q-page>
</template>

<script>
import 'hooper/dist/hooper.css'
import {
  Hooper,
  Slide }
  from 'hooper'

export default {
  name: 'category',
  components: {
    Hooper,
    Slide
  },
  data () {
    return {
      hooperSettings: {
        itemsToShow: 7,
        itemsToSlide: 2,
        trimWhiteSpace: true,
        infiniteScroll: true
      }
    }
  }
}
</script>

<style>
.slaider{
  width: 100%;
}

.places{
  width: 100%;
}

.place1 {
  background-image: url(../statics/1.png);
  background-size: cover;
  background-position: center;
  height: 250px;
}

.place2 {
  background-image: url(../statics/2.png);
  background-size: cover;
  background-position: center;
  height: 250px;
}

.place3 {
  background-image: url(../statics/3.png);
  background-size: cover;
  background-position: center;
  height: 250px;
}

.place4 {
  background-image: url(../statics/4.png);
  background-size: cover;
  background-position: center;
  height: 250px;
}

.place5 {
  background-image: url(../statics/5.png);
  background-size: cover;
  background-position: center;
  height: 250px;
}

.place6 {
  background-image: url(../statics/6.png);
  background-size: cover;
  background-position: center;
  height: 250px;
}

.place7 {
  background-image: url(../statics/7.png);
  background-size: cover;
  background-position: center;
  height: 250px;
}

.place8 {
  background-image: url(../statics/8.png);
  background-size: cover;
  background-position: center;
  height: 250px;
}

.place9 {
  background-image: url(../statics/9.png);
  background-size: cover;
  background-position: center;
  height: 250px;
}

</style>
