<template>
  <q-page class="flex justify-top align-center">
    <container style="width: 100%">
      <div class="q-px-xl" style="font-size: 35px; font-family: 'Avenir'; color: black; height: 50px;">
        Категории
      </div>
      <hooper :settings="hooperSettings">
        <slide class="dvor" to="cat">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Дворы</router-link>
        </slide>
        <slide class="zabr">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Заброшенные </router-link>
        </slide>
        <slide class="graf">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Граффити</router-link>
        </slide>
        <slide class="inst">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Инсталляции</router-link>
        </slide>
        <slide class="arch">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Архитектура</router-link>
        </slide>
        <slide class="roof">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Крыши</router-link>
        </slide>
        <slide class="temp">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Временные</router-link>
        </slide>
        <slide class="beach">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Пляжи</router-link>
        </slide>
        <slide class="zavod">
          <router-link to="cat" style="text-decoration: none; font-size: 20px; font-family: 'Avenir'; color: white;">Заводы</router-link>
        </slide>
      </hooper>
    </container>
    <div class="row q-col-gutter-lg q-px-xl">
      <div class="col-12" style="font-size: 35px; font-family: 'Avenir'; color: black; height: 50px; margin-bottom: 20px">
       Лучшее
    </div>
      <template v-for="i in 16">
        <div :key ="i" class="post col-3">
          <router-link to='post' style="text-decoration: none; font-family: 'Avenir'; color: white;">
            <div :class="'post' + i" style="
              background-image: url(../statics/1.png);
              background-size: cover;
              background-position: center;
              height: 250px;
              cursor: pointer;
              display: flex;
              align-items: flex-end;
              padding: 10px;
              ">
              <div class="flex justify-center  align-center" style="text-decoration: none; font-size: 12px; font-family: 'Avenir'; color: white;">
                <img class="q-px-sm" src="../statics/Vector.svg" alt=""> 248
              </div>
            </div>
          </router-link>
        </div>
      </template>
    </div>
  </q-page>
</template>

<script>
import 'hooper/dist/hooper.css'
import {
  Hooper,
  Slide
} from 'hooper'

export default {
  name: 'PageIndex',
  components: {
    Hooper,
    Slide
  },
  data () {
    return {
      hooperSettings: {
        itemsToShow: 7,
        itemsToSlide: 2,
        trimWhiteSpace: true,
        infiniteScroll: true
      }
    }
  }
}
</script>

<style>
</style>
