<template>
  <q-page class="flex justify-top align-center">
    <container class="flex column" style="width: 100%; align-items: center;">
      <div class="flex justify-center align-center" style="font-size: 35px; font-family: 'Avenir'; color: black; ">
        Двор The Beatles
      </div>
      <div class="flex justify-center align-center" style="font-size: 24px; font-family: 'Avenir'; color: black;">
        Пушкинская ул. 10
      </div>
      <div class="flex justify-center align-center" style="font-size: 20px; font-family: 'Avenir'; color: black; width: 50%; text-align: center; margin-top: 30px; margin-bottom:30px">
        Улица в Северной столице родилась благодаря одному поклоннику легендарной Ливерпульской четвёрки известной как Битлз. Данному битломану удалось получить альбом группы с автографом Джона Леннона. Этот счастливец — Николай Васин, кто стал единственным владельцем столь ценной реликвии, тогда-то и подумал, что он достоин проживать не где-нибудь, а на улице Леннона в Петербурге.
      </div>
    </container>
    <div class="row q-col-gutter-lg q-px-xl">
      <template v-for="i in 16">
        <div :key ="i" class="post col-3">
          <router-link to='post' style="text-decoration: none; font-family: 'Avenir'; color: white;">
            <div :class="'post' + i" style="
              background-image: url(../statics/1.png);
              background-size: cover;
              background-position: center;
              height: 250px;
              cursor: pointer;
              display: flex;
              align-items: flex-end;
              padding: 10px;
              ">
              <div class="flex justify-center  align-center" style="text-decoration: none; font-size: 12px; font-family: 'Avenir'; color: white;">
                <img class="q-px-sm" src="../statics/Vector.svg" alt=""> 248
              </div>
            </div>
          </router-link>
        </div>
      </template>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'place',
  data () {
    return {
    }
  }
}
</script>

<style>
</style>
