<template>
  <q-page class="flex align-center q-px-lg">
    <div class="row q-col-gutter-lg" style="width: 100%;">
      <div class="col-6">
        <div class="photo flex">
          <img src="../statics/Group 1.png" alt="">
        </div>
        <div class="user">
          <div class="row flex align-center" style="width: 100%; margin-top: 10px">
            <div class="col-1">
              <div style="width: 50px; height: 50px; border-radius: 100%; background-image: url(../statics/ava.png); background-size: contain; cursor: pointer;">
              </div>
              </div>
              <div class="col-10" style="margin-left: 10px;">
                <div class="row" style="font-size: 16px; font-family: 'Avenir'; color: black">
                  R O G A L I K
                </div>
                <div class="row" style="font-size: 13px; font-family: 'Avenir'; color: black">
                  01.01.2019 14:28
                </div>
              </div>
          </div>
        </div>
        <div class="desc">
          <div class="flex align-center" style="font-size: 25px; font-family: 'Avenir'; color: black; margin-top: 60px; margin-bottom: 25px;">Описание</div>
          <div class="flex space-between" style="font-size: 16px; font-family: 'Avenir'; color: black; margin-bottom: 50px;"> При съемке пейзажа старайтесь, чтобы линия горизонта не резала кадр на две равные половины. Если больше интересного на переднем плане, расположите горизонт на уровне примерно 2/3 от нижнего края (земли — 2/3, неба — 1/3), если на заднем — соответственно, на уровне 1/3 (земли — 1/3, неба — 2/3). Еще это называется "правилом третей". Если не получается привязать ключевые объекты именно к "третям", разместите их симметрично друг другу относительно центра</div>
        </div>
      </div>
      <div class="col-6 ">
        <div class="address">
          <div class="flex align-center" style="font-size: 35px; font-family: 'Avenir'; color: black;">Двор The Beatles</div>
          <div class="flex align-center" style="font-size: 24px; font-family: 'Avenir'; color: black;">Пушкинская ул. 10</div>
        </div>
        <div class="about column">
          <div class="aaa flex">
            <div>Модель фотоаппарата
            </div>
            <div><b>Сanon 70D</b></div>
          </div>
          <div class="aaa flex">
            <div>Объектив
            </div>
            <div><b>IOS 25-105mm</b></div>
          </div><div class="aaa flex">
            <div>ISO
            </div>
            <div><b>450</b></div>
          </div><div class="aaa flex">
            <div>Фокус
            </div>
            <div><b>4.0</b></div>
          </div><div class="aaa flex">
            <div>Выдержка
            </div>
            <div><b>1/125</b></div>
          </div>
          <div class="aaa flex">
            <div>Редактор
            </div>
            <div><b>Adobe Lightroom CC 2019</b></div>
          </div>
        </div>
        <div class="comments">
          <div class="flex align-center" style="font-size: 25px; font-family: 'Avenir'; color: black; margin-bottom: 40px;">Комментарии</div>
          <div class="row q-col-gutter-sm " style="margin-bottom: 15px;">
            <div class="col-2 flex justify-center" >
              <div style="width: 50px; height: 50px; border-radius: 100%; background-image: url(../statics/ava.png); background-size: contain; cursor: pointer;">
              </div>
            </div>
            <div class="col-10 flex justify-left">
              <div style="height: 50px; border-radius: 20px; ); background: #EAF2FD; cursor: pointer; padding: 10px;        ">
                Классное фото! Спасибо за совет! Интересное место, обязательно пофоткаю там
              </div>
            </div>
          </div>
          <div class="row q-col-gutter-sm" tyle="margin-bottom: 15px;">
            <div class="col-2 flex justify-center">
              <div style="width: 50px; height: 50px; border-radius: 100%; background-image: url(../statics/ava.png); background-size: contain; cursor: pointer;">
              </div>
            </div>
            <div class="col-10 flex justify-left">
              <div style="height: 50px; border-radius: 20px; ); background: #EAF2FD; cursor: pointer; padding: 10px;        ">
                Классное фото! Спасибо за совет! Интересное место, обязательно пофоткаю там
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'post',
  data () {
    return {
    }
  }
}
</script>

<style>
.photo {
  background-image: url(../statics/1197239_890x565 1.png);
  background-size: cover;
  height: 400px;
  width: 100%;
}

.aaa{
  justify-content: space-between;
}

.about{
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 20px;
  font-family: 'Avenir';
  color: black;
  width: 90%;
}
</style>
