<template>
  <q-page class="flex justify-top align-center">
  <hooper :settings="hooperSettings" >
  <slide class="dvor">
    <div>
    Дворы
    </div>
  </slide>
  <slide class="zabr">
    Заброшенные
  </slide>
  <slide class="graf">
    Граффити
  </slide>
  <slide class="inst">
    Инсталляции
  </slide>
  <slide class="arch">
    Архитектура
  </slide>
  <slide class="roof">
    Крыши
  </slide>
  <slide class="temp">
    Временные
  </slide>
  <slide class="beach">
    Пляжи
  </slide>
  <slide class="zavod">
    Заводы
  </slide>
  </hooper>
  </q-page>
</template>

<script>
import 'hooper/dist/hooper.css'
import {
  Hooper,
  Slide
} from 'hooper'

export default {
  name: 'user',
  components: {
    Hooper,
    Slide
  },
  data () {
    return {
      hooperSettings: {
        itemsToShow: 7,
        itemsToSlide: 2,
        trimWhiteSpace: true,
        infiniteScroll: true
      }
    }
  }
}
</script>

<style>
</style>
