<template>
  <q-layout view="hHh lpR fFf">
    <q-header class="bg-white q-py-sm q-px-md header flex align-center justify-center" style="width: 100%">
      <div class="row" style="width: 80%">
      <div class="flex col-6 align-center" >
        <router-link class='flex flex-center' to="/" style="text-decoration: none; color:#2F80ED; ">
          <q-toolbar-title class='flex flex-center header-logo col-6'>
            Logo
          </q-toolbar-title>
        </router-link>
      </div>
      <div class="flex col-6 justify-end flex-center row">
        <div class="col-10 flex justify-end">
          <q-btn label="Опубликовать" to="/login"  style="width: 160px; height: 44px; border-radius: 22px; background-color: #2F80ED; color:white; font-family: 'Avenir'"/>
        </div>
        <div class="avatar flex justify-end col-2">
          <div style="width: 50px; height: 50px; border-radius: 100%; background-image: url(../statics/ava.png); background-size: contain; cursor: pointer;">
          </div>
        </div>
      </div>
      </div>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
    }
  }
}
</script>

<style lang='scss' scoped>
@font-face{
font-family: 'Avenir';
src: url("../css/AvenirNextCyr-Medium.ttf");}
  .header-logo {
    width: 70px;
    font-family: 'avenir';
    color: #2F80ED;
    font-size: 24px;
  }
</style>
